/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.square {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 60pt;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.body-content {
    width: 302px;
    margin: auto 0;
    padding: 0;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
.board > .row:nth-child(2){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.board > .row > .cell:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cell {
    width: 100px;
    height: 100px;

}

form{
    display: block;
    width: 302px;
    margin: 0 auto;
    padding: 0;

}
